.company-logo-crousel .mySwiper .swiper-pagination {
    /* Customize the pagination position */
    /* For example, move the pagination to the top right corner */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 160%);

    /* Additional styling if desired */
    /* ... */
}

.company-logo-crousel .swiper {
    overflow: visible;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}


.company-logo-crousel {
    overflow: hidden;
    height: 200px;
}