@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container-width {
    margin: auto;
    width: 80%;
}

.common-btn-style button {
    border: 2px solid white;
    padding: 10px 0;
    color: white;
    border-radius: 34px;
    width: 190px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-btn-style button:hover {
    color: #1563cb !important;
    background-color: white;
    cursor: pointer;
}

.btn-with-purpule-border button {
    border: 1px solid #5901ff;
    padding: 10px 0;
    color: black;
    border-radius: 34px;
    width: 170px;
    font-weight: 600;
}

.btn-with-purpule-border button:hover {
    background-color: #5901ff;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container-width {
        width: 95%;
    }
}

@media (max-width: 1280px) {
    .container-width {
        width: 90%;
    }
}

.btn-with-purpule-border button:hover {
    background-color: #5901ff;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container-width {
        width: 95%;
    }
}

@media (max-width: 1280px) {
    .container-width {
        width: 90%;
    }
}

.down-arrow {
    position: absolute;
    top: calc(100vh - 60px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
}

.down-arrow:after {
    content: '   ';
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0;
    }
}

.down-arrow {
    animation: jumpInfinite 1.5s infinite;
}

#message {
    border: none !important;
    border: 1px solid #e8eaed !important;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.hire-developer-area-text {
    width: 60%;
    margin: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hire-developer-area-overlay-bg {
    width: 100%;
    height: 100% !important;
    background-color: rgba(21, 99, 203, 0.9);
}

.hire-developer-area-wrapper {
    background-image: url('../../assets/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
    box-sizing: border-box;
    position: relative;
}

/*   .hire-dev-heading{
            display:   flex   !important;
            justify-content:   center   !important;
            align-items:   center   !important;
            flex-direction:   column   !important;
}   */

.multi-step-form-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hire-developer-form-left-side {
    position: relative;
}

.left-side-text {
    color: white;
    text-transform: uppercase;
    /*   writing-mode:   vertical-lr;
            text-orientation:   upright;*/
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 35%;
    letter-spacing: 20px;
}
/*   welcome-area.styles.css   */

.welcome-area-wrapper {
    background-image: url('../../assets/test.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.welcome-area-overlay-bg {
    width: 100%;
    height: 100% !important;
    background-color: rgba(21, 99, 203, 0.9);
    /*   Updated   background   color   with   opacity   */
}

.welcome-area-text {
    width: 60%;
    margin: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.common-btn-style {
    display: flex;
    justify-content: center;
}

.button-wrapper {
    margin-top: 40px;
    /*   Adjust   the   margin-top   value   as   needed   */
}

.button-wrapper button {
    margin: 0 10px;
}

.mouse-arrow-button {
    /*   margin-top:   20px;   */
    /*   Adjust   the   margin-top   value   as   needed   */
    position: absolute;
    /*   display:   flex;
            justify-content:   center;
            align-items:   center;   */
    margin-bottom: 65px;
    bottom: 0;
    cursor: pointer;
    transition: 0.3s;
}

.mouse-arrow-button:hover {
    transform: scale(1.2);
}

.mouse-icon {
    width: 20px;
    /*   Adjust   the   width   as   needed   */
    height: 40px;
    /*   Adjust   the   height   as   needed   */
    border: 2px solid #fff;
    border-radius: 50px;
    position: relative;
}

.mouse-icon::before {
    content: '';
    display: block;
    width: 6px;
    /*   Adjust   the   width   as   needed   */
    height: 6px;
    /*   Adjust   the   height   as   needed   */
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    /*   Adjust   the   position   as   needed   */
    left: 50%;
    transform: translateX(-50%);
    animation: mouseScroll 1.5s infinite;
}

.home-btn-primary {
    border: 2px solid white !important;
    background-color: #fff;
    color: rgba(21, 99, 203, 0.9) !important;
    font-size: 1.1rem;
}

/*   .home-btn-primary:hover{
            border:   2px   solid   white   !important;
            color:   whi   !important;
            background-color:   inherit   !important;

}   */

@keyframes mouseScroll {
    0% {
        opacity: 1;
        transform: translate(-50%, 6px);
        /*   Adjust   the   position   as   needed   */
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 16px);
        /*   Adjust   the   position   as   needed   */
    }
}

@media (max-width: 1024px) {
    .welcome-area-text {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .welcome-area-text {
        width: 90%;
    }
}
.navigation-container {
    background-color: rgba(21, 99, 203, 0.9);
}

.mob-nav-menu-wrapper {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    top: 0;
    right: 0;
    z-index: 22;
}

.mob-nav-menu-wrapper .mob-nav-menu {
    height: 100%;
    transition: 1s;
    width: 500px;
    background: white !important;
}
.mob-nav-menu-links {
    height: 80% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-nav {
    margin-right: -600px;
}

.open-nav {
    margin-right: 0px;
}
.cross-btn {
    justify-content: right !important;
}

.mob-nav-contact-btn button {
    /*   border:   1px   solid   black;   */
    color: white;
    margin-top: 50px;
    width: 200px;
}

.mob-menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(62, 62, 62);
}

.mob-nav-contact-btn button:hover {
    color: white;
}

@media (max-width: 640px) {
    .mob-nav-menu-wrapper .mob-nav-menu {
        width: 100%;
    }
}

.company-logo-crousel .mySwiper .swiper-pagination {
    /* Customize the pagination position */
    /* For example, move the pagination to the top right corner */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 160%);

    /* Additional styling if desired */
    /* ... */
}

.company-logo-crousel .swiper {
    overflow: visible;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.company-logo-crousel {
    overflow: hidden;
    height: 200px;
}
